@tailwind base;
@tailwind components;
@tailwind utilities;



.playfair {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.playfair2 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: semibold;
}


.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


.roboto {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.roboto2 {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-down {
  animation: slideDown 1.5s ease-out forwards;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.animate-fade-in-down {
  animation: fadeIn 1s ease-in-out forwards, typing 2s steps(30, end);
  white-space: nowrap; /* Evita que el texto salte a otra línea */
  overflow: hidden;
  border-right: 2px solid; /* Agrega el cursor de escritura */
  font-size: 2rem;
}


.animate-smoke {
  background-image: url('/img/smoke-effect.png');
  background-size: cover;
  animation: moveSmoke 10s infinite linear;
}

@keyframes moveSmoke {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.animate-fadeIn {
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


